body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #30102b;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.profile-container{
    border-radius: 15px;
    background-color:rgb(44, 43, 59);
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8 px rgb(0,0,0,0.1);
    max-width: 400px;
}
.profile-image{
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #f599ad;
    
}
.intro{
    color: aliceblue;
}
.badges{
display: flex;
flex-wrap: wrap;
gap: 0.75rem;
margin-bottom: 2rem;
}
.badge {
color: aliceblue;
background-color: darksalmon;
padding: 10px 15px;
margin: 5px;
display: inline-block;
border-radius: 9px;
}
.link a{
text-decoration: none;
color: white;
background-color: rgb(230, 144, 17);
padding: 10px 15px;
margin: 5px;
display: inline-block;
border-radius: 5px;
}